:root {
  --primary-color: ##F8EDE3;
  --secondary-color: #BDD2B6;
  --text-color: #798777;
  --border-color: #A2B29F;
}






*,*::before,*::after {
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.App {
  height: 100vh;
}

.Main-content {
  display: grid;
  grid-template-columns: 26em 1fr;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 20vh;
  height: 100vh;
}

.Topbar {
  top: 0;
  border: 2px solid black;
}

.App-main {
  border: 2px solid green;
}

.App-main > .Mainpageterabyte {
  padding-top: 1em;
  overflow-y: auto;
}
